{
  "env": {
    "es2020": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "type-grapqhql"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "alias": {
        "map": [["app", "./src"]],
        "extensions": [".js", ".ts", ".tsx", ".d.ts", ".json"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["src/constants/caselist/**/*"]
}
