SOLR_DEV_CONN_URL=http://<MY_SOLR_INSTANCE>/solr/<MY_SOLR_CORE>
SOLR_LOCAL_CONN_URL=http://<MY_SOLR_INSTANCE>/solr/<MY_SOLR_CORE>

MONGO_DEV_CONN_URL=mongodb://<MY_MONGO_INSTANCE>
MONGO_LOCAL_CONN_URL=mongodb://<MY_MONGO_INSTANCE>
MONGO_DB_NAME=<MY_DB_NAME>
